
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */


/* Import fonts from Google's API */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:300, 300i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=DM+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato');

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');

@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiri');

@import url('https://fonts.googleapis.com/css2?family=Bitter');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono');

@import url('https://fonts.googleapis.com/css2?family=Lato');

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');

@import url('https://fonts.googleapis.com/css2?family=Montserrat');


html {
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    font-family: 'Castoro', serif;
  --mono-font:       "DM Mono", monospace;
  --body-font:       'Lato', sans-serif;         /* edited */
  --navbar-font:     font-family: 'Castoro', serif;
}





body{  /*-- whole website background color --*/
  background-color: #E4F4EE;
  /*color: #1f1f1f;*/
  color: #405359;
  font-size: 16px;
}



/* Change the appearance of in-line code chunks */
code {
  font-family: 'Fira Mono', sans-serif;
  color: #383838;
  background: #F5F5F5;
  font-weight: 400;
  font-size: 0.9em;
}


d-code {
  background: grey;
}


/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       #F9FFFC;
  --font-size:        15px;
  --font-family:      'Libre Baskerville';
  --hover-color:      #F9FFFC;
  --bkgd-color:       #0F7D63;
  --text-transform:   uppercase;
}

.distill-site-header .logo img{
  max-height: 40px; /* Makes logo bigger, default was 20px */
}


.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #0F2E3D;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below */
/*-- INDEX PAGE IMAGE STYLE --*/



